@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$bg-black: #21201E;
$black: #000000;
$purple: #6100C2;
$light-purple: #7900C2;
$grey: #969696;
$white: #ffffff;

$black-gradient: conic-gradient(from -2deg at 28.99% 107.28%, #37312A 175.51443457603455deg, #191817 342.4887156486511deg, #191817 360deg);

$light-grey-gradient: linear-gradient(90deg, rgba(255, 255, 255, 0.62) -9.39%, rgba(255, 255, 255, 0.78) 106.21%);

$poppins: 'Poppins', sans-serif;