.header {
  position: absolute;
  content: '';
  top: 30px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  &__nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }

  &__user {
    display: flex;
    align-items: center;
  }
}

.customList {
  margin-left: 0;
}