@import "../../styles/variables.scss";

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 35%;
    // height: 45%;
    border-radius: 15px;
    box-shadow: 0 5px 25px $light-purple;
    background: $bg-black;
    padding: 10px 30px;

    &_title {
      margin-top: 15px;
      font-size: 20px;
      text-transform: uppercase;
    }

    &_input {
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 14px;
      line-height: 30px;
      background: $bg-black;
      border: 1px solid $grey;
      outline: none;
    }

    &_error {
      color: red;
      font-weight: 500;
    }

    &_button {
      margin-top: 20px;
      background: $light-purple;
    }
    &_register {
      font-size: 20px;
      line-height: 24px;
      cursor: pointer;
      margin-bottom: 15px;

      background: linear-gradient(90deg, $white, $light-purple, $grey);
      background-size: 300%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradient-animation 3.5s ease infinite;
    }
  }
}

.disabled {
  background: $grey;
  cursor: auto;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
