@import '../../styles/variables.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  background: $bg-black;
  color: $white;
  box-shadow: 2px 0px 90px 0px $purple;


  // &__menu_films, 
  // &__menu_social,
  // &__menu_settings {
  //   font-family: $poppins;
  // }

}